{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block header %}
     <h1 class="display-4 text-center mb-3">{% trans 'Update subscription' %}</h1>
{% endblock %}


{%  block content %}
    <div class="col-8 float-left">
         <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <p class="font-weight-bold">{{ field.label_tag }}</p>
                    {{ field }}
                </div>
             {% endfor %}
            <button class="btn btn-outline-success" type="submit">{% trans 'Update' %}</button>
        </form>
    </div>
{% endblock %}