{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block header %}
     <h1 class="display-4 text-center mb-3">{% trans 'Delete subscription' %}</h1>
{% endblock %}

{% block content %}
    <p>Delete <code>{{ object.endpoint }}</code>?</p>

    <form method='POST' action=''>
        {% csrf_token %}
        <p>{% trans 'Are you sure you want to delete this subscription?' %}</p>
        <input type='submit' class="btn btn-outline-danger" value='{% trans 'Yes' %}'/>
        <a href='{% url 'notifications:subscription-list' %}' class="btn btn-outline-warning">{% trans 'Cancel' %}</a>
    </form>
{% endblock %}