{% extends 'dashboard/base.html' %}
{% load i18n %}

{% block nav %}
    <h1 class="display-4 text-center mb-3">{% trans 'Topics' %}</h1>
    <div class="col-2 float-left" role="navigation">
        {% include 'dashboard/navigation.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="col-10 float-right">
    {% if topics %}
        <table id='topics' class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>{% trans 'Owner' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Edit' %}</th>
                </tr>
            </thead>
            {% for topic in topics %}
                <tr>
                    <td>{{ topic.owner }}</td>
                    <td>{{ topic.title }}</td>
                    <td>
                        <a href='{% url 'notifications:topic-update' pk=topic.id %}' class="btn btn-sm btn-outline-warning">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            {% include 'includes/pagination.html' %}
        {% endif %}
    {% else %}
        <p>{% trans "No topics" %}</p>
    {% endif %}
    <a href='{% url 'notifications:topic-add' %}' class="btn btn-outline-success"><i class="fas fa-plus">&nbsp;</i>{% trans 'Add new topic' %}</a>
    </div>
{% endblock %}
